# coursera
coursera/machine-learning-coursera/

# Downloaded training data
text8.zip
notMNIST.pickle
notMNIST_large*
notMNIST_small*

# TensorFlow
tensor_flow/log

*/.ipynb_checkpoints/*

# Others
.DS_Store

# ipython notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
